MONGODB_URI="mongodb+srv://..."
JWT_SECRET="YOUR_SUPER_SECRET"

ADMIN_EMAIL="contact@dream3dx.com"
ADMIN_PASSWORD="Sales-O@2025"

NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_live_SjQ61NTetk0DQw"
RAZORPAY_KEY_SECRET="EW7VXrmo2INoPvooWSLElkjg"

NEXT_PUBLIC_SUPABASE_URL="https://lphrhhqhupgmiratpwpv.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_jjZntMAHzgUJusBPyOgVTw_0Bo-m7QO"

NEXT_PUBLIC_GOOGLE_CLIENT_ID="23002849128-6dc15j994p2qhh5lscvjr9t2995khemm.apps.googleusercontent.com"
